$font-family: 'HelveticaNeue-Light', 'Helvetica Light', 'Helvetica Neue',
  Helvetica, Arial, sans-serif;
$font-family-light: 'HelveticaNeue-UltraLight', 'Helvetica Ultra Light',
  'Helvetica Neue', Helvetica, Arial, sans-serif;
$readout: rgba(75, 75, 75, 0.55);
$key-misc: #d6d6d6;
$key-function: #ff8c00;
$key-numeric: #e0e0e0;

$readout-color: #ffffff;
$key-color: #000000;
